
<ion-content [fullscreen]="true">

  <div class="contenido">
    
    <h1>Buenas noches </h1>
    <div class="contenido-login">
      <div class="wrapper-login">
        <input type="text" placeholder="Usuario" [(ngModel)]="user">
      </div>
      <div class="wrapper-login">
      <input type="password" placeholder="Contraseña" [(ngModel)]="clave">
      </div>
      <br>
      <button id="btn" (click)="login()"> Login </button>

      <h6 routerLink='/registro'> Registrarse por primera vez</h6>

    </div>
    
  </div>

</ion-content>
