
<ion-content [fullscreen]="true">

    <div class="contenido">      
  
      <div class="tabla-usuarios">
        <table class="default">

            <tr>
          
              <th>Usuario</th>
          
              <th>Clave</th>
          
          
            </tr>
          
            <tr *ngFor="let fila of usuarios">
          
              <td>{{fila.user}}</td>
          
          
              <td>{{fila.clave}}</td>
              
              <td>
                <button (click)="eliminar(fila.user)">Eliminar✖️</button>
              </td>
            </tr>
          
          </table>
      </div>

    </div>
  
  </ion-content>
  